---
layout: clock.mustache
title: simple
---
<style>
  .rs-base{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    background: rgba(0, 0, 0, 70%);
  }
</style>
